.card-filtro-custo {
    transition: all 0.2s ease; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
@keyframes fadeIn { from { opacity: 0; transform: translateY(-5px); } to { opacity: 1; transform: translateY(0); } }

.card-filtro-custo input[type="date"] {
    background-color: var(--bg-input); /* Usa Tema */
    color: white; border: 1px solid #475569; border-radius: 4px; padding: 8px;
    font-family: inherit; color-scheme: dark;
}
.card-filtro-custo input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); cursor: pointer;
}